@import "/src/shared/scss/mixins";

$initialWidth: calc(419 * 100vw / 1920);
$initialHeight: calc(352 * 100vw / 1920);

.gradientBorder {
  position: relative;
  width: $initialWidth;
  height: $initialHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #6377E1, #2920A5);
  border-radius:20px;

  @include for-tablet-up {
    width: calc(328 * 100vw / 768);
    height: calc(352 * 100vw / 768);
  }

  @include for-phone-only {
    width: 328px;
    height: 352px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #FFFFFF52, #475FDF);
    border-radius: 20px;
  }

  .content {
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    position: relative;
    border-radius: 20px;
    padding: calc(20 * 100vw / 1920);
    @include for-tablet-up {
      padding: calc(20 * 100vw / 768);
    }

    @include for-phone-only {
      padding: 20px;
    }

    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      top: calc(2 * 100vw / 1920);
      left: calc(2 * 100vw / 1920);
      transition: .2s;
      bottom: calc(2 * 100vw / 1920);
      right: calc(2 * 100vw / 1920);
      border-radius: calc(20px - 2 * 100vw / 1920);
      background: linear-gradient(to bottom, #6377E1, #2920A5);

      @include for-tablet-up {
        top: calc(2 * 100vw / 768);
        left: calc(2 * 100vw / 768);
        right: calc(2 * 100vw / 768);
        bottom: calc(2 * 100vw / 768);
        padding: calc(20 * 100vw / 768);
        gap: calc(16 * 100vw / 768);
        border-radius: calc(20px - 2 * 100vw / 768);
      }


      @include for-phone-only {
        border-radius: 18px;
        padding: 20px;
        gap: 16px;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
      }
    }

    .textContent {
      display: flex;
      height: max-content;
      text-wrap: balance;
      padding-right: calc(16 * (100vw / 1920));
      align-items: center;
      justify-content: center;
      gap: calc(16 * 100vw / 1920);
      font-size: calc(20 * 100vw / 1920);

      @include for-tablet-up {
        gap: calc(16 * 100vw / 768);
        font-size: calc(20 * 100vw / 768);
      }

      @include for-phone-only {
        gap: 16px;
        font-size: 20px;
      }
    }

    .image {
      position: absolute;
      left: 50%;
      width: calc(305 * (100vw / 1920));
      bottom: calc(-40 * (100vw / 1920));
      object-fit: cover;
      height: auto;
      transform: translateX(-50%);
      @include for-tablet-up {
        width: calc(328 * 100vw / 768);
        bottom: calc(-56 * 100vw / 768);
      }

      @include for-phone-only {
        width: 328px;
        bottom: -56px;
      }
    }
  }

  &:hover {
    .content {
      &:before {
        border-radius: calc(20px - 6 * 100vw / 1920);
        top: calc(6 * 100vw / 1920);
        left:calc(6 * 100vw / 1920);
        bottom: calc(6 * 100vw / 1920);
        right: calc(6 * 100vw / 1920);

        @include for-tablet-up {
          top: calc(6 * 100vw / 768);
          left: calc(6 * 100vw / 768);
          right: calc(6 * 100vw / 768);
          bottom: calc(6 * 100vw / 768);
          border-radius: calc(20px - 6 * 100vw / 768);
        }

        @include for-phone-only {
          border-radius: 14px;
          top: 6px;
          left: 6px;
          right: 6px;
          bottom: 6px;
        }
      }
    }
  }

  .gradientCircleBorder {
    position: relative;
    width: calc(48 * 100vw / 1920);
    height: calc(48 * 100vw / 1920);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #2920A5, #6377E1);
    border-radius: 50%;
    @include for-tablet-up {
      width: calc(48 * 100vw / 768);
      height: calc(48 * 100vw / 768);
    }

    @include for-phone-only {
      width: 48px;
      height: 48px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, #FFFFFF00, #FFFFFF52);
      border-radius: 50%;
    }

    .circleContent {
      width: calc(44 * 100vw / 1920);
      height: calc(44 * 100vw / 1920);
      aspect-ratio: 1 / 1;
      display: flex;
      z-index: 2;
      align-items: center;
      justify-content: center;
      background: linear-gradient(to bottom, #2920A5, #6377E1);
      border-radius: 50%;
      color: white;

      @include for-tablet-up {
        width: calc(44 * 100vw / 768);
        height: calc(44 * 100vw / 768);
      }

      @include for-phone-only {
        width: 44px;
        height: 44px;
      }
    }
  }
}

.pink {
  background: linear-gradient(to bottom, #E163E1, #741595);
  &:before {
    background: linear-gradient(to bottom, #FFFFFF52, #B247DF);
  }

  .pinkContent {
    &:before {
      background: linear-gradient(to bottom, #E163E1, #741595);
    }

    .image {
      width: calc(377 * (100vw / 1920));
      bottom: calc(-52 * 100vw / 1920);

      @include for-tablet-up {
        width: calc(377 * 100vw / 768);
        bottom: calc(-52 * 100vw / 768);
      }

      @include for-phone-only {
        width: 377px;
        bottom: -52px;
      }
    }

    .textContent {
      width: 60%;

      @include for-tablet-up {
        width: 80%;
      }
    }
  }

  .pinkCircleBorder {
    background: linear-gradient(to bottom, #741595, #E163E1);

    .pinkCircleContent {
      background: linear-gradient(to bottom, #741595, #E163E1);
    }
  }
}

.green {
  background: linear-gradient(to bottom, #55CE00, #014D1D);
  &:before {
    background: linear-gradient(to bottom, #FFFFFF52, #3A8207);
  }

  .greenContent {
    &:before {
      background: linear-gradient(to bottom, #55CE00, #014D1D);
    }

    .image {
      width: calc(392 * (100vw / 1920));
      bottom: calc(-30 * 100vw / 1920);

      @include for-tablet-up {
        width: calc(392 * 100vw / 768);
        bottom: calc(-35 * 100vw / 768);
      }

      @include for-phone-only {
        width: 392px;
        bottom: -35px;
      }
    }
  }

  .greenCircleBorder {
    background: linear-gradient(to bottom, #014D1D, #55CE00);

    .greenCircleContent {
      background: linear-gradient(to bottom, #014D1D, #55CE00);
    }
  }
}

